.password-strength-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

.password-strength-tooltip p {
  margin: 0 0 5px;
  font-weight: bold;
}

.password-strength-tooltip ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.password-strength-tooltip li {
  font-size: 0.9rem;
  margin-bottom: 3px;
  opacity: 0.7;
}

.password-strength-tooltip li.valid {
  color: #4caf50;
  opacity: 1;
  text-decoration: line-through;
}
